*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
} 
/* Utility */
:root{
    --s: 10px;
}
.container{
   width: 1000px;
   margin: 0 auto;
}
header{
    background-color: rgb(255,105,0);
    color: white;
    padding: 20px;
    box-shadow: 0 0 5px gray;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}
main{
    padding-top: 80px;
}
figcaption{
    font-size: 14px;
}
.flex{
  display: flex;
}
/* HEADER */
.navigation{
    display: flex;
    justify-content: space-between;
}
.categories > .list{
    display: flex;
    list-style-type: none;
    padding: 5px 0;
}
.item{
    text-decoration: none;
    padding: var(--s);
    color: white;
    font-weight: bolder;
}
#logo{
    height: 30px;
}
.shop{
    display: flex;
}
.shop > i{
    padding: var(--s);
}
/*  MAIN  */
.row{
    display: flex; 
    gap: var(--s); 
    margin: 20px auto; 
}
.column{
    position: relative;
    /* border: 1px dashed black;*/
    /* min-height: 200px; */
    flex-basis: calc(100% / 3);
}
.img{
    width: 100%;
    display: block;
}
.title{
    font-weight: 600;
    text-transform: uppercase;
}
.card span{
    font-size: 15px;
}
.sales{
    color: red;
    font-weight: 600;
}
.price{
    text-decoration: line-through;
}
.heart{
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 0;
}
.discount{
    background-color: red;
    position: absolute;
    bottom: 100px;
    left: 0;
}
.label{
    padding: 5px var(--s);
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.sostenibilità{
    background-color: rgb(0,128,0);
    position: absolute;
    bottom: 100px;
    left: 60px;
}